*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #1f0066;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#calculator{
    width: 350px;
    background-color: #000018;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 60px #000;
}
#display{
    width: 95%;
    height: 50px;
    background-color: #000010;
    border: none;
    box-shadow: 0px 0px 10px #ffffff15;
    color: #160091;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.operator{
    color: #a31a15cc;
    transition: .3s;
}
.operator:hover{
    color: #ee150e;
    transition: .3s;
    box-shadow: 3px 3px 10px #ee150e;
}

.equal{
    width: calc(46% - 10px);
    transition: .4s;
}
.equal:hover{
    width: calc(50% - 10px);
    transition: .4s;
}
button{
    width: 60px;
    height: 60px;
    background-color: #000015;
    border: 1px solid #ffffff15;
    color: #4b077c;
    font-size: 24px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    color: #9500ff;
    box-shadow: 3px 3px 10px #9500ff;
    transition: .3s;
}
button:active{
    transform: scale(.8) rotate(10deg) translate(0, 5px);
}




/*


